@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@font-face {
  font-family: 'raleway';
  src: url('raleway-extralight-webfont.woff2') format('woff2'),
       url('raleway-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}
@font-face {
  font-family: 'raleway';
  src: url('raleway-light-webfont.woff2') format('woff2'),
       url('raleway-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}
@font-face {
  font-family: 'raleway';
  src: url('raleway-thin-webfont.woff2') format('woff2'),
       url('raleway-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}
@font-face {
  font-family: 'ageo_personal_useregular';
  src: url('ageopersonaluse-semibold-webfont.woff2') format('woff2'),
  url('ageopersonaluse-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  background-image: linear-gradient(-105deg, #a571de, #6c63ff);
  color: rgb(19, 19, 19);
  margin: 0;
  font-family: ageo_personal_useregular;
  height: 110%;
}

#container {
  height: 120%;
  background-image: linear-gradient(-105deg, #a571de, #6c63ff);
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: 100%;
  position: static;
}

.login-box{
  margin: 15% auto;
  margin-left: 15%;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  width: 70%;
  position: absolute;
  box-shadow: 0 0.5125rem 0.975rem 0 rgba(46, 46, 46, 0.8) !important;
}

.login-box h1{
  float: left;
  margin-left: 10%;
  font-size: 40px;
  margin-bottom: 30px;
  padding: 13px 0;
}

.textbox{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #a9a9a9;
  background: none;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px 0;
}

.textbox:focus{
  border-bottom: 1px solid #6c63ff;
}

.textbox i{
  margin-left: 4%;
  float: left;
  color: #3b3b3b;
  font-size: 1.6rem;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(19,19,19);
  white-space: nowrap;
	text-decoration: none;
	letter-spacing: .5px;
	font-size: 1.2rem;
  font-weight: 300;
  font-family: raleway;
  line-height: 1.2rem;
  width: 80%;
  float: right;
}

.botao {
  background-color: black;
  margin-left: 15%;
}

.btn{
  text-align: center;
  margin: 20px auto;
  vertical-align: baseline;
  height: 50px;
  padding: 0 35px;
  border-radius: 40px;
  line-height: 50px;
  border: 0;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: raleway;
  font-size: 17px;
  font-weight: 300;
  transition: background-color .2s;
  color: #fff;
  background-color: #6c63ff;
  box-shadow: 0 0.3125rem 0.375rem 0 rgba(46, 46, 46, 0.5) !important;
}

img {
  margin-top: 0;
  width: 100%;
  height: 30%;
}

.modal2 {
  margin-top: 15%;
  text-align: center;
}

.new-request{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
  display: none;
}

.new-request.open{
  display: block;
}

.modal3 {
  text-align: left;
  margin-top: 50%;
  margin-left: 15%;
  box-shadow: 0 0.5125rem 0.975rem 0 rgba(0, 0, 0, 0.3) !important;
  background-color: white;
  width: 60%;
  padding: 5%;
  border-radius: 10px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #6c63ff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #a571de;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}